{% extends "framework.html" %} {% block content %}
<h1>Add Device</h1>
<form action="" method="POST" name="device">
    [[ form.hidden_tag() ]]
    <table>
        <tr>
            <td>Device Name:</td>
            <td>[[ form.name(size=50) ]]</td>
        </tr>
        <tr>
            <td>Model Name:</td>
            <td>[[ form.model(size=50) ]]</td>
        </tr>
        <tr>
            <td>Serial Number:</td>
            <td>[[ form.serial_num(size=50) ]]</td>
        </tr>
        <tr>
            <td>Status:</td>
            <td>[[ form.status ]]</td>
        </tr>
        <tr>
            <td>Warranty:</td>
            <td>[[ form.warranty ]]<span>Months</span></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Register" /></td>
        </tr>
    </table>
</form>
{% endblock %}