<!doctype html>
<html>

<head>
    {% if title %}
    <title>[[title]] - Flask Test</title>
    {% else %}
    <title>Welcome to Flask Test</title>
    {% endif %}
    <link rel="stylesheet" href="[[ url_for('static', filename='css/main.css', _external=True) ]]">
    <script src="[[ url_for('static', filename='scripts/angular-1.6.1.min.js', _external=True) ]]"></script>
</head>

<body>
    {% with messages = get_flashed_messages() %} {% for message in get_flashed_messages() %}
    <div class="flash">[[ message ]]</div>
    {% endfor %} {% endwith %} {% block content %} {% endblock %}
</body>

</html>