{% extends "framework.html" %} {% block content %}
<h1>Hello, [[ user.name | title ]]!</h1>
<table ng-app="flask" ng-controller="userController">
    <thead>
        <tr>
            <td>Login Name</td>
            <td>User Name</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in users">
            <td>{{ user.login }}</td>
            <td>{{ user.name }}</td>
        </tr>
    </tbody>
</table>
<script>
    var app = angular.module('flask', []);
    app.controller('userController', function($scope, $http) {
        $http({
            method: "GET",
            url: "[[ url_for('api.userlist', _external=True) ]]"
        }).then(function successCallback(response) {
            $scope.users = response.data.records
        });
    });
</script>
{% endblock %}