{% extends "framework.html" %} {% block content %}
<h1>Register</h1>
<form action="" method="POST" name="register">
    [[ form.hidden_tag() ]]
    <table>
        <tr>
            <td>User Name:</td>
            <td>[[ form.name(size=50) ]]</td>
        </tr>
        <tr>
            <td>Login Name:</td>
            <td>[[ form.login(size=50) ]]</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>[[ form.password(size=50) ]]</td>
        </tr>
        <tr>
            <td>Sex:</td>
            <td>[[ form.sex ]]</td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Register" /></td>
        </tr>
    </table>
</form>
{% endblock %}