<div class="row">
	<div class="am-g" style="height: 600px">
		<div class="am-u-sm-6 am-u-md-4 am-u-lg-4">test1</div>
		<div class="am-u-sm-6 am-u-md-4 am-u-lg-4">test2</div>
		<div class="am-u-sm-6 am-u-md-4 am-u-lg-4">test3</div>
	</div>
	<div class="am-g" style="height: 600px">
		<div class="am-u-sm-6 am-u-md-4 am-u-lg-3">test1</div>
		<div class="am-u-sm-6 am-u-md-4 am-u-lg-3">test2</div>
		<div class="am-u-sm-6 am-u-md-4 am-u-lg-3">test3</div>
	</div>
	<!--<div class="am-u-md-4 am-u-sm-12 row-mb">
		<div class="tpl-portlet">
			<div class="tpl-portlet-title">
				<div class="tpl-caption font-green ">
					<i class="am-icon-cloud-download"></i>
					<span> 主机1号</span>
				</div>
			</div>
			<div class="tpl-echarts" echart></div>
		</div>
	</div>
	<div class="am-u-md-4 am-u-sm-12 row-mb">
		<div class="tpl-portlet">
			<div class="tpl-portlet-title">
				<div class="tpl-caption font-green ">
					<i class="am-icon-cloud-download"></i>
					<span> 主机2号</span>
				</div>
			</div>
			<div class="tpl-echarts" echart2></div>
		</div>
	</div>
	<div class="am-u-md-4 am-u-sm-12 row-mb">
		<div class="tpl-portlet">
			<div class="tpl-portlet-title">
				<div class="tpl-caption font-green ">
					<i class="am-icon-cloud-download"></i>
					<span> 主机3号</span>
				</div>
			</div>
			<div class="tpl-echarts" echart></div>
		</div>
	</div>-->
</div>
