<div class="row" ng-controller="dashBoardController">
    <div class="am-g">
        <div class="tpl-portlet-components">
            <div class="tpl-block am-g">
                <div class="am-u-sm-5">
                    <div class="am-text-center caption font-green bold am-text-md am-margin-bottom-sm">
                        <span class="caption font-green bold">系统架构 - 服务器</span>
                        <span class="font-green am-inline-block am-margin-right am-icon-refresh am-fr" ng-class="{true: 'am-icon-spin', false: ''}[checking]" ng-click="getInventory()" style="cursor: pointer"></span>
                    </div>
                    <ul class="am-avg-sm-1">
                        <li ng-repeat="svr in inventory">
                            <div class="am-panel am-panel-secondary am-radius" style="box-shadow: 3px 5px aliceblue; border-radius: 10px;overflow: hidden;">
                                <div class="am-panel-hd bold">{{::svr.svr_name}} - {{::svr.svr_ip}}</div>
                                <div class="am-panel-bd" style="background-color: floralwhite;">
                                    <ul>
                                        <li ng-repeat="sys in svr.systems">
                                            <span class="caption font-green bold am-text-sm">{{::sys.sys_name}}</span>
                                            <button ng-click="CheckProcVersion(sys.sys_id, CheckProcVersionCallback)" class="am-btn am-btn-xs am-btn-secondary am-round" style="padding: 4px 7px">获取进程版本</button>
                                            <ul class="am-avg-sm-1 am-avg-md-2 am-avg-lg-3">
                                                <li class="am-padding-xs" style="text-align: center;" ng-repeat="proc in sys.processes" on-bind="bindPopup(proc)" repeat-finish>
                                                    <span class="am-badge am-round am-text-truncate am-badge-success" style="line-height: 30px; width: 100%; cursor: help; box-shadow: 3px 3px #ddffcc" id="{{proc.proc_uuid}}">{{::proc.proc_name}}</span>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="am-u-sm-7">
                    <div ng-controller="customLogController">
                        <div class="am-text-center caption font-green bold am-text-md am-margin-bottom-sm">
                            自定义日志查询
                            <button class="am-fr" style="border: none; background: none;">
                                <i class="am-icon-plus-circle am-icon-sm"></i>
                            </button>
                        </div>
                        <p class="am-text-xs" ng-if="servers.length <= 0">无自定义日志查询</p>
                        <ul ng-if="servers.length > 0">
                            <li ng-repeat="svr in servers">
                                <div>
                                    <span class="font-green bold">日志服务器: </span>
                                    <span class="font-green">{{svr.svr}}</span>
                                    <ul>
                                        <li ng-repeat="log in svr.logs">
                                            <div>
                                                <div class="am-cf">
                                                    <span class="font-green bold">{{::log.name}} </span>
                                                    <span class="font-green bold am-text-sm"> 日志文件: </span>
                                                    <span class="font-green am-text-sm">{{log.log_file}} </span>
                                                    <span class="font-green bold am-text-sm"> 日志计数: </span>
                                                    <span class="font-green am-text-sm"> {{log.results.length}} 条</span>
                                                    <span class="am-text-sm am-fr">最后更新: {{log.update_time}}</span>
                                                </div>
                                                <ul class="am-list am-list-static am-list-striped am-text-sm" style="max-height: 300px; overflow-y: auto;">
                                                    <li ng-repeat="line in log.results" ng-bind-html="line|html_trust"></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div ng-controller="customSqlController">
                        <div class="am-text-center caption font-green bold am-text-md am-margin-bottom-sm">
                            自定义数据表查询
                            <button class="am-fr" style="border: none; background: none;">
                                <i class="am-icon-plus-circle am-icon-sm"></i>
                            </button>
                        </div>
                        <p class="am-text-xs" ng-if="dbs.length <= 0">无自定义数据表查询</p>
                        <ul ng-if="dbs.length > 0">
                            <li ng-repeat="db in dbs">
                                <div>
                                    <span class="font-green bold">DB Host: </span>
                                    <span class="font-green">{{::db.db_host}}</span>
                                    <span class="font-green bold">DB Name: </span>
                                    <span class="font-green">{{::db.db_name}}</span>
                                    <ul>
                                        <li ng-repeat="dt in db.data_tables" style="overflow-x: auto">
                                            <div>
                                                <div class="am-cf">
                                                    <span class="font-green bold">{{dt.name}}</span>
                                                    <span class="am-text-sm am-fr">最后更新: {{dt.update_time}}</span>
                                                </div>
                                                <div class="am-scrollable-horizontal"
                                                     style="max-height: 200px; overflow-y: auto;">
                                                    <table class="am-table am-text-xs am-table-striped am-table-hover">
                                                        <thead>
                                                            <th ng-repeat="col in dt.formatter">{{::col.name}}</th>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="row in dt.rows">
                                                                <td ng-repeat="col_value in (row|formatterSorter: dt.formatter) track by $index">{{col_value}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
