<div class="row" ng-controller="singleSysCtrl">
    <div class="am-u-md-12 am-u-sm-12">
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    状态信息-子系统
                </div>
            </div>
            <div class="tpl-block">
                <div class="am-g">
                    <div class="am-u-sm-12">
                        <form class="am-form">
                            <table class="am-table am-table-hover table-main">
                                <thead>
                                <tr>
                                    <th>子系统名</th>
                                    <th>进程名</th>
                                    <th>所属服务器</th>
                                    <th>进程状态</th>
                                    <th>检查</th>
                                    <th>启动</th>
                                    <th>停止</th>
                                    <th>重新启动</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="data in systemList1">
                                    <td>{{data.systemName}}</td>
                                    <td>
                                        {{data.process}}
                                    </td>
                                    <td>
                                        {{data.service}}
                                    </td>
                                    <td>
                                        {{data.status}}
                                    </td>
                                    <td>
                                        <div class="am-btn-group am-btn-group-xs" ng-if="data.systemName">
                                            <button type="button"
                                                    class="am-btn am-btn-primary am-btn-xs am-text-secondary"><span
                                                    class="am-icon-pencil-square-o"></span> 检查
                                            </button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="am-btn-group am-btn-group-xs" ng-if="data.systemName">
                                            <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span
                                                    class="am-icon-pencil-square-o"></span> 启动
                                            </button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="am-btn-group am-btn-group-xs" ng-if="data.systemName">
                                            <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span
                                                    class="am-icon-pencil-square-o"></span> 停止
                                            </button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="am-btn-group am-btn-group-xs" ng-if="data.systemName">
                                            <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span
                                                    class="am-icon-pencil-square-o"></span> 重新启动
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <hr>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>